body {
  background: url('../img/Tech2.png');
  background-size: cover;
}
h1 {
  font-style: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

p {
  font-style: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-indent: 50px;
}

label {
  padding-bottom: 3px;
  padding-top: 15px;
}

#q1 {
  padding: 2px;
}

#q2 {
  padding: 2px;
}
#q3 {
  padding: 2px;
}

#q4 {
  padding: 2px;
}

#q5 {
  padding: 2px;
}